@import "tailwindcss";
@theme {
  --font-heading: "Josefin Sans", sans-serif;
  --font-text: "Roboto Slab", serif;
  --font-logo: "Roboto Condensed", sans-serif;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
  body {
    background-color: black;
    color: white;
  }
}
